
<!---------------MI IMAGEN DE PERFIL y COLUMNAS CON MIS DATOS------------------------------------->
<section id="sobre mi" class="sobre-mi">
          
    <div class="container-fluid">
      <div class="row align-items-start">
        <div class="col-sm-4" > 
          <img src="ASSETS/IMG/mica.jpeg" class ="rounded-circle w-75" alt="..." title="...">
          <br><br><br><br><br>
          <h5>Aparicio Yamila Micaela</h5>
        </div>
        <div class="col-sm">
          <br>
          <h5 class="mi">Sobre mi</h5>
          <br>
          <p class="text-justify ">Me llamo Yamila, tengo 24 años. Me considero una persona creativa y perseverante, en este momento me encuentro aprendiendo sobre los diferentes programas de programacion, lo cual para mi es un mundo nuevo y complejo, me parece interesante lo util que es tener estas herramientas.Ademas de encontrarme cursando Argentina Programa,estudio medicina por lo cual me apasiona las ciencias naturales y la psicologia.</p>
        </div>
      </div>
    
      <br>
      <section id="Educación" class="Educación">
        <div class="container-fluid">
          <div class="row align-items-start">
            <div class="col-sm-4">
              <h5 class="educacion">Educación</h5>
              <i class="icono fa-solid fa-school"></i>
              <img src="ASSETS/IMG/unlam.jpg" class="unlam">
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-close-white editBanner"> <i class="fa-sharp fa-solid fa-pencil"></i></button>
                <p class="text-justify">Educacion Secundaria</p>
                <ul type="circle">
                <li>Escuela Secundaria N°19</li>
                <li>Pilar,Buenos Aires</li>
                <li>2012-2017</li>
                <li>titulo secundario de Bachiller en Marketing y
                  comunicaciones</li>
              </ul>
              <p class="text-justify">Educacion Universitaria</p>
              <button type="submit" class="btn btn-close-white editBanner"> <i class="fa-sharp fa-solid fa-pencil"></i></button>
              <ul type="circle">
                <li>Universidad Nacional de La Matanza</li>
                <li>San Justo,Buenos Aires</li>
                <li>2019- en curso</li>
                <li>Medicina</li>
              </ul>
            </div>
          </div>
         
        
        <br><br>
      <section id="experiencia" class="experiencia">
        <div class="container-fluid">
          <div class="row align-items-start">
            <div class="col-sm-4">
              <h5 class="laboral">Experiencia Laboral</h5>
              <i class="Expericono fa-solid fa-briefcase"></i>
            </div>
            <div class="col-sm">
              <button type="submit" class="btn btn-close-white editBanner"> <i class="fa-sharp fa-solid fa-pencil"></i></button>
              <p class="text-justify">Atencion al cliente</p>
              <ul type="circle">
                <li>Desempeñaba en el rol de atención
                  al cliente, manejo de caja chica, reposición de productos y
                  coordinación con proveedores</li>
                <li>Pilar,Buenos Aires</li>
                <li>2017-2019</li>
              </ul>

            </div>
          </div>
          
        
        <br><br>
      <section id="habilidades" class="habilidades">
        <div class="container-fluid">
          <div class="row align-items-start">
            <div class="col-sm-4">
              <h5>Habilidades</h5>
            </div>
            <div class="col-sm">
              <p class="text-justify"></p>
            </div>
            <div class="row d-flex justify-content-center mt-100">