<p>redes works!</p>
<!-----------------------------------ESTO ES BARRA DE PROGRESOS------------------------------------------------>
<button type="submit" class="btn btn-close-white editBanner"> <i class="fa-sharp fa-solid fa-pencil"></i></button>
                  <div class="col-md-6">
                <div class="contenedor">
                  <div class="habilidades">
                    <h5>Desarrollo Web</h5>
                    <h4>HTML</h4>
                    <div class="barra">
                      <div class="progreso" style="--w:75%">
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="contenedor">
                  <div class="habilidades">
                    <h4>CSS</h4>
                    <div class="barra">
                      <div class="progreso" style="--w:50%">
                        
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="contenedor">
                  <div class="habilidades">
                    <h4>Javascript</h4>
                    <div class="barra">
                      <div class="progreso" style="--w:40%">
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="contenedor">
                  <div class="habilidades">
                    <h4>NodeJS</h4>
                    <div class="barra">
                      <div class="progreso" style="--w:30%">
                      </div>
                    </div>
                  
                
                <br>
                <h5>Otras habilidades</h5>
                <div class="contenedor">
                  <div class="habilidades">
                    <h4>no la pense(?</h4>
                    <div class="barra">
                      <div class="progreso" style="--w:70%">
                        
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <h5>Idioma</h5>
                <div class="contenedor">
                  <div class="habilidades">
                    <h4>Ingles</h4>
                    <div class="barra">
                      <div class="progreso"  style="--w:40%">
                      </div>
                    </div>
                  </div>
                </div>
                  
                 
              
          
              
          
          <br><br>
          <section id="proyectos" class="proyectos">
            <div class="container-fluid">
              <div class="row align-items-start">
                <div class="col-sm-4">
                  <h5 class="proyecto">Proyectos</h5>
                </div>
                <div class="col-sm">
                  <p class="text-justify">Trabajo de investigacion Cuali-Cuantitativo de tipo descriptivo </p>
                  <ul type="circle">
                  <li>"Percepción de los residentes de González Catán acerca de su accesibilidad 
                    al Sistema de asistencia sanitaria en la respectiva zona 
                    y cómo esto perjudica en su Salud”
                    </li>
                  <li>Mediante el siguiente trabajo de investigación cuali-cuantitativo se intentará demostrar cuáles son las barreras y obstáculos que se presentan con respecto al acceso a los servicios de salud en la población de la ciudad de González Catán. A su vez, intentaremos relacionar esto con la calidad sanitaria que éstos reciben y su impacto en su calidad de vida.  </li>
                  <li>Año 2020</li>
                  <li><A HREF="https://drive.google.com/file/d/1k68d5bc8eYEz2riHg5DJC3ngvr-N3z9y/view?usp=sharing"> Link del trabajo de investigacion</A></li>
                
              
              <br><br>
          
          <section id="footer" class="footer">
            <div class="container-fluid">
              <div class="row align-items-start">
                <div class="col-sm-4">
                  <h5>Footer</h5>
                </div>
                <div class="col-sm">
                  <p class="text-justify"></p>
                </div>
              </div>
            